{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/category_restuarnt.css' %}" rel="stylesheet" />
<style>

</style>

<!-- Restaurant Section Start -->
<div class="container-fluid page-body-wrapper" style="margin-top: 10px">
    <div class="container-xxl py-5">
        <div class="container mt-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s mt-5">

                <h1 class="mb-2">Restaurants Serving {{ category.name }}</h1>
                <h5 class="text-center text-primary fw-normal mb-5">{{ restaurants|length }} Restaurants Found</h5>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="tab-content">
                    <div class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            {% for restaurant in restaurants %}
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="restaurant-card border p-3 h-100">
                                    <div class="d-flex align-items-center">
                                        <!-- Restaurant Image -->
                                        {% if restaurant.user_profile.profile_picture %}
                                        <img class="img-fluid rounded" src="{{ restaurant.user_profile.profile_picture.url }}" alt="{{ restaurant.vendor_name }}">
                                        {% else %}
                                        <img class="img-fluid rounded" src="{% static 'img/logo.png' %}" alt="Default Image">
                                        {% endif %}

                                        <!-- Restaurant Info -->
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between">
                                                <span>{{ restaurant.vendor_name }}</span>
                                            </h5>
                                            <small class="fst-italic">{{ restaurant.user_profile.address }}, {{ restaurant.user_profile.city }}, {{ restaurant.user_profile.state }}</small>
                                        </div>

                                        <!-- Menu Button -->
                                        <div class="ms-auto">
                                            <a href="{% url 'rest_details' restaurant.vendor_slug %}">
                                                <button class="btn btn-primary" type="submit">Menu</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                                <p>No restaurants found for this category.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Restaurant Section End -->

{% endblock %}
