@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;

}

.card-registration .select-arrow {
  top: 13px;
}

/* General Styling */
.cart-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.cart-item-container > div {
  flex: 1;
  margin: 5px;
}

.summary-container {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f9fa;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .cart-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
  }

  .cart-item-container > div {
    text-align: center;
    margin: 5px 0;
  }

  .summary-container {
    margin-top: 20px;

  }

  h1 {
    font-size: 1.75rem;
  }

  h6 {
    font-weight: 600;
    font-size: 0.75rem;
    }

  /* Adjustments for very small screens (like mobile) */
  @media (max-width: 575px) {
    .cart-item-container {
      flex-direction: row;
    }

    .cart-item-container > div {
      text-align: center;
    }

    h1 {
      font-size: 1.2rem;
    }
  }
}

/* Styling the Summary Section */
.summary-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.summary-text {
  font-size: 1rem;
}

.btn-sm-custom {
  font-size: 1rem;
  padding: 10px 20px;
}

/* Borders and Styling */
.card-registration {
  border: 1px solid #ccc;
  border-radius: 15px;
}

.cart-section {
  border: 1px solid #333;
  border-radius: 10px;
}

.summary-section {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 10px;
}
