  .content-wrapper{
    margin-left: 300px;
    }
  @media (max-width: 393px) and (max-height: 714px) {
    .content-wrapper {
      margin-left: -10px;
      background: white;
    }

    .content-wrapper h2 {
      font-size: 1.25rem;
    }

    .content-wrapper h5 {
      font-size: 0.875rem;
    }

    .card {
      margin-bottom: 1px;
      background: #ff5c33;
    }

    .card:hover {
      background: #ff3300;
    }

    .card-body h2 {
      font-size: 1.25rem;
    }

    .card-body h5 {
      font-size: 1rem;
      color: white
    }

    .card-body h4 {
      font-size: 1.75rem;
    }

    .card-body h3{
      color: white;
      }
     }
 @media (max-width: 767px) {

        .content-wrapper{
      background: white;
      }

    .main-panel {
        padding: 5px;
    }
    h2 {
        font-size: 1.75rem;
        text-align: center;
         background: #ff704d;
         color:white;
    }

    .card{
    width: 300px;
    }

     .ordr{

    color:white;
    }

    /* For tables on smaller screens, ensure they are scrollable */
    .responsive-table {
        overflow-x: auto;
    }

    table thead {
        display: none; /* Hide table headers on mobile */
    }

    table tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
    }

    table tbody tr:last-child {
        border-bottom: none;
    }

    table tbody tr td {
        display: flex;
        justify-content: left;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        border-bottom: none;
    }

    table tbody tr td::before {
        content: attr(data-label); /* Add labels for mobile view */
        font-weight: bold;
    }

    /* Adjust button size */
    .btn-danger {
        font-size: 0.8rem;
        padding: 8px;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}