
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

<nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color: white;">
          <ul class="nav" style="margin-top: 50px;">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'custDashboard' %}">
                <span class="icon-bg"><i class="fas fa-house-user"></i></span>
                <span class="menu-title" style="color: black">Dashboard</span>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="{% url 'customer_myorders' %}">
                <span class="icon-bg"><i class="fas fa-align-justify"></i></span>
                <span class="menu-title" style="color: black">My Orders</span>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="{% url 'cprofile' %}">
                <span class="icon-bg"><i class="fas fa-user-alt"></i></span>
                <span class="menu-title">Profile Settings</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="icon-bg"><i class="fas fa-user-lock"></i></span>
                <span class="menu-title">Change Password</span>
              </a>
            </li>

          </ul>
        </nav>
