{% load static %}

<main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="{% url 'home' %}"><img class="d-inline-block" src="{% static 'img/gallery/logo.svg'%}" alt="logo" /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient">Khana Lao</span></a>
<!--          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>-->
          <div class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
            <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
              <p class="mb-0 fw-bold text-lg-center">Deliver to: <i class="fas fa-map-marker-alt text-warning mx-2"></i><span class="fw-normal">Current Location </span><span>Mirpur 1 Bus Stand, Dhaka</span></p>
            </div>
            <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0">
              <div class="input-group-icon pe-2"><i class="input-box-icon text-primary"></i>
<!--                <input class="form-control border-0 input-box bg-100" type="search" placeholder="Search Food" aria-label="Search" />-->
                  <a href="{% url 'registerUser'%}">
                    <button class="btn btn-white shadow-warning text-warning" type="button"> <i class="fas fa-user me-2"></i>Register</button>
                  </a>


              </div>
                <button class="btn btn-white shadow-warning text-warning" type="submit"> <i class="fas fa-user me-2"></i>Login</button>

                <a href="{% url 'registerVendor'%}">
                <button class="btn btn-white shadow-warning text-warning" type="button" style="margin-left: 8px;"> <i class="fas fa-user me-2"></i>Restaurant</button>
                </a>
            </form>
          </div>
        </div>
      </nav>

    <script src="{% static '@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'fontawesome/all.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap" rel="stylesheet">