{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/alerts.html' %}

<link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
<link href="{% static 'css/iconmoon.css' %}" rel="stylesheet" />
<link href="{% static 'css/custom.css' %}" rel="stylesheet" />
<link href="{% static 'css/myorders.css' %}" rel="stylesheet" />

<style>

</style>

<!--Main Section Start-->
<div class="container-fluid page-body-wrapper" style="margin-top: 60px;">
  {% include 'includes/r_sidebar.html' %}
  <div class="main-panel">
    <div class="content-wrapper">
      {% include 'includes/cover.html' %}
      <div class="d-xl-flex justify-content-between align-items-start">
        <h2 class="text-dark font-weight-bold mb-2 mt-3">Orders Received</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border">
          </div>
          <div class="tab-content tab-transparent-content">
            <div class="row">
              <div class="col-xl-4 col-lg-6 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="mb-2 font-weight-normal">Orders</h5>
                    <h3>{{total_orders}}</h3>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="mb-2 font-weight-normal">Total Revenue</h5>
                    <h3>${{total_revenue}}</h3>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="mb-2 font-weight-normal">This Month</h5>
                    <h3>${{current_month_revenue}}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 50px;">
              <div class="col-12 grid-margin">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div>
                        <h4 class="card-title mb-0">Recent orders</h4>
                        <br>
                        <div class="table-responsive">
                          <table class="table table-hover table-borderless mt-3" id="myorderstable">
                            <thead>
                              <tr>
                                <th scope="col">Order #</th>
                                <th scope="col">Name</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for order in orders %}
                              <tr>
                                <td class="ordr" style="background: #ff704d;">{{ order.order_number }}</td>
                                <td>{{ order.name }}</td>
                                <td><i class='fas fa-rupee-sign'></i>{{ order.total }}</td>
                                <td>{{ order.status }}</td>
                                <td>{{ order.created_at }}</td>
                                <td><a href="{% url 'rest_order_detail' order.order_number %}" class="btn btn-danger">Details</a></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Section End -->

{% endblock %}
